body {
  margin: 0;
  padding: 0;
}
.source {
  display: block;
  text-align: center;
  color: #00f;
  border-bottom: 1px solid grey;
  padding-top: 5px;
  padding-bottom: 5px;
  position: fixed;
  width: 100%;
  background: white;
}
